body {
  text-align: center;
  padding-top: 5%;
  background-color: #1c4b82;
  color: whitesmoke;
  font-family: 'Lato', sans-serif;
}

#page-wrap {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2rem;
}

.fa-bitcoin {

  color: orange;
  font-size: 5rem;
}

#title {
  color: orange;
  font-size: 2.5rem;
}

#footer {

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
}
